.Organ{
  height: 300px;
  width: 800px;
}
.key{
  display: inline-flex;
  width: 45px;
  height: 45px;
  border: 5px solid lime;
}


.white{
  border: 5px solid blue;
}

.black{
  border: 5px solid red;
}

.pressed{
  border: 5px solid orange;
}
